//font family

$font-stack-head:'Poppins', sans-serif;
$font-stack-text:'Roboto Mono', monospace;


//color variable

$text-color-head:#094067;
$light-color:#5f6c7b;
$text-color:#90b4ce;
$bg-color:#fffffe;
$btn-bg:#3da9fc;
$btn-text:#fffffe;