.cart--container {
  position: absolute;
  top: 100px;
  left: 20vw;
  right: 20vw;
  width: 60vw;
  z-index: 1;
  background-color: $bg-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  .cart--page{
    @include flex-b-c;
    align-items: flex-start;
    gap: 10px;
    .bill-container{
      padding: 20px;
    h1{
      font-size: 1.8rem;
      text-transform: capitalize;
      padding: 20px 0;
      border-bottom: 1px solid $text-color;
    }
    .bill--details{
      margin: 20px 0;
    @include flex-b-c;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    .price,.discount,.delivery,.total--price{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    }
    .place--order{      
     
      button{
        font-size: 1.2rem;
        color: $bg-color;
        font-family: $font-stack-head;
        background: $btn-bg;
        border: none;
        outline: none;
        padding: 10px 20px;
        margin: 20px 0;
      }
    }
    }
  }
  .closemenu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -22px;
    top: -25px;
    border: 2px solid #fffe;
    background-color: $btn-bg;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }
  .cart--items {
    width: 60%;
    @include flex-b-c;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    .cart--item {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid $text-color;
    }
    .first--col {
     
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .item--image{
        img{
            width: 130px;
            height: 130px;
            object-fit: contain;
            mix-blend-mode: multiply;
        }
      }
      .item--quantity{
        @include flex-b-c;
        gap: 10px;
        .decrease,.increase{
            padding:5px 10px;
            border-radius: 20px;
            font-size: 1.2rem;
            border: 1px solid $text-color;
            cursor: pointer;
        }
        .quantity{
            padding: 5px 20px;
            border: 1px solid $text-color;
            font-size: 1.2rem;
            font-weight: 600;
        }
      }
    }
    .sec--col{
    
        @include flex-b-c;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        .item--title{
          .title{
            font-size: 1.3rem;
            font-family: $font-stack-head;
            font-weight: 1000;
        }
        }
        .item--price{
          @include flex-b-c;
          gap: 20px;
          .original--price{
            text-decoration: line-through;
            font-weight: 100;
            color: $light-color;
          }
          .dis--price{
            color: $btn-bg;
            font-weight: 1000;
          }
         
        }
        .rm--btn{
          .remove--product{
            padding: 5px 20px;
            font-size: 0.8rem;
            color: $bg-color;
            background-color: red;
            border: none;
          }
        }
    }

  }

}
@media (max-width:980px) {
  .cart--container{
    width: 90vw;
    left: 5vw;
    right: 5vw;
    .cart--page{
     
    }
  }
}

@media (max-width:767px) {
  .cart--container{
    .cart--page{
      flex-direction: column;
      .bill-container{
        width: 100%;
        @include flex-b-c;
        gap: 30px;
        h1{
          display: none;
        }
        .bill--details{
          flex-direction: row;
          justify-content: space-between;
           .price,.discount,.delivery{
            display: none;
           }
           .total--price{
            span{
              font-size: 1.2rem;
              font-weight: 1000;
            }
           .total{display: none;}
           }
           .message{
            display: none;
           }
        }
      }
      .cart--items{
        width: 100%;
        .cart--item{
          .first--col{
            .item--image{
              img{
                width: 80px;
                height: 80px;
              }
            }
            .item--quantity{
              .decrease,.increase{
                padding: 5px ;
                font-size: 0.8rem;
              }
              .quantity{
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}



