.container {
  width: 100%;
  background: $btn-bg;
  .header {
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    @include flex-b-c;
    font-family: $font-stack-head;
    &--menubar {
      display: none;
    }
    &--logo {
      cursor: pointer;
      &__text {
        color: $bg-color;
        font-size: 2.4rem;
      }
    }
    &--searchbar {
      @include flex-b-c;
      position: relative;
      input {
        width: 600px;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 1.1rem;
      }
      .search--icon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5px;
        cursor: pointer;
      }
    }
    &--profile {
      .login {
        color: $btn-bg;
        font-size: 1.1rem;
        padding: 5px 40px;
        background: $bg-color;
        border: none;
        outline: none;
      }
    }
    &--cart {
      @include flex-b-c;
      justify-content: flex-start;
      position: relative;
      margin-right: 30px;
      .cart--icon {
        width: 40px;
        height: 40px;
      }
      span {
        color: $bg-color;
        font-size: 1.2rem;
        position: absolute;
        right: -20px;
        top: -10px;
        border-radius: 20px;
        padding: 5px;
        background-color: $text-color-head;
      }
    }
  }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    .header {
      width: 95%;
      margin: 0 auto;
      gap: 0;
      justify-content: space-around;
      position: relative;
      &--menubar {
        display: block;
        z-index: 2;
        img {
          width: 20px;
          height: 20px;
        }
      }
      &--logo {
        display: none;
      }
      &--logo--mobile {
        position: absolute;
        top: 0;
        left: -10px;
        background-color: $btn-bg;
        height: 100vh;
        width: 70vw;
        z-index: 1;
        h1 {
          padding: 20px;
          position: absolute;
          z-index: 1;
          top: 10vh;
        }
      }
      &--searchbar {
        z-index: 0;
        input {
          width: 70vw;
          padding: 10px 5px;
        }
      }
      &--profile {
        display: none;
      }
      &--profile--mobile {
        position: absolute;
        top: 20vh;
        left: -10px;
        z-index: 1;
        padding: 20px;
        .login {
          color: $btn-bg;
          font-size: 1.1rem;
          padding: 5px 40px;
          background: $bg-color;
          border: none;
          outline: none;
        }
      }
      &--cart {
        margin-right: 0;
        .cart--icon {
          width: 30px;
          height: 30px;
        }
        span {
          font-size: 0.8rem;
          top: -8px;
          right: -5px;
        }
      }
    }
  }
}
