@import './filter';
.product--container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 20px;
  gap: 20px;
  .products {
    background: $bg-color;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    .product:hover{
        .title{
            color: $btn-bg;
        }
    }
    .product {
      @include flex-b-c;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: 1px solid gray;
      padding: 20px;
      cursor: pointer;
      &--details {
        width: 70%;
        display: flex;
        gap: 10px;
        &__image {
          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            mix-blend-mode: multiply;
          }
        }
        &__description {
            width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          .title{
            font-family: $font-stack-head;
            font-size: 1.3rem;
            font-weight: 1000;
            text-transform: uppercase;
          }
          .ratings--stock{
            display: flex;
            gap: 30px;
            .ratings{
                font-family: $font-stack-text;
                font-size: 0.9rem;
                color: $bg-color;
                padding: 3px 5px;
                background-color: $btn-bg;
                border-radius: 5px;
            }
            .stock{
                color: $text-color;
                font-family: $font-stack-text;
                font-size: 0.9rem;
            }
            .description{
                font-family: $font-stack-text;
            }
          }
        }
      }
      &--price{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .current--price{
            font-family: $font-stack-head;
            font-size: 1.4rem;
            font-weight: 1000;
        }
        .original--price{
            display: flex;
            gap: 20px;
            .price{
                font-family: $font-stack-text;
                text-decoration: line-through;
                color: $text-color;
            }
            .discount{
                color: $btn-bg;
            }
        }
        .delivermode{
            color: $text-color;
        }
        .cart--button{
          
          button{
            background: $btn-bg;
            color: $bg-color;
            font-size: 0.9rem;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
          }
          .remove--button{
            background-color: red;
          }
        }
      }
    }
  }
}

@media (max-width:980px) {
  .product--container{
    grid-template-columns: 1fr;
  }
}
@media (max-width:768px) {
  .product--container{
    width: 100vw;
    .products{
      .product{
        &--details{
          width: 100%;
          &__image{
            .image{
              width: 100px;
              height: 100px;
            }
          }
          &__description{

            .title{
              font-size: 1rem;
            }
            .ratings--stock{
              gap: 10px;
              flex-direction: column;
            }
            .description{
              display: none;
            }
          }
  
        }
        &--price{
          .current--price{
            font-size: 1.1rem;
          }
          .original--price{
            display: none;
          }
          .delivermode{
            display: none;
          }
          .cart--button{
            button{
              width: 100%;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}
